@import url("nuke.css");

html {
  background-color: #002f58;
  color: #fbfafd;

  /* tailwind font style */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#main {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  --dot-gap: calc(1rem * 3 / 16);
  --dot-size: calc(1rem * 11 / 16);
  --max-h-dots: 104;
}

#weeks {
  max-width: calc(var(--dot-size) * var(--max-h-dots) + var(--dot-gap) * (var(--max-h-dots) - 1));

  display: flex;
  flex-wrap: wrap;
  gap: var(--dot-gap);

  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media (width < 40rem) {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  @media (width < 48rem) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @media (width < 64rem) {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  @media (width < 86rem) {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  @media (width < 64rem) {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  @media (width < 48rem) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  @media (width < 40rem) {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* temp */
  /* background-color: black; */
}

.week {
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
}

.bg-red {
  background-color: #ef2f58;
}
.color-red {
  color: #ef2f58;
}
.bg-blue {
  background-color: #0fa4fc;
}
.color-blue {
  color: #0fa4fc;
}
.bg-blue-dim {
  background-color: #0b4e92;
}
.color-blue-dim {
  color: #0b4e92;
}
.bg-blue-dark {
  background-color: #031f3d;
}
.color-blue-dark {
  color: #031f3d;
}
.bg-yellow {
  background-color: #f9ca11;
}
.color-yellow {
  color: #f9ca11;
}
.bg-orange {
  background-color: #f89a0e;
}
.color-orange {
  color: #f89a0e;
}
.bg-blue-alt {
  background-color: #619dd7;
}
.color-blue-alt {
  color: #619dd7;
}
.bg-purple {
  background-color: #7f125a;
}
.color-purple {
  color: #7f125a;
}
